<!-- Starts Header -->
<div class="header-main">
	


	
	<div class="top-mid-bar"  id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<h1 class="logo">
					<a href="/#/"></a>
					</h1>
				</div>
				
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="bookingeng-toptitle">Booking Payment</div>
				</div>
			</div>
		</div>
	</div>
	
	

</div>

<!-- Ends Header-->

<!-- Starts Featured Section -->
<div class="featured-section register-all bookingeng">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4">
				<div class="paymentto">
					<h3>Payment To</h3>
					<div class="proposl-img">
									<img src="/images/frontend/usericon.jpg">
								</div>
								<div class="perfrmr-name">
									<h3>Performer Name 1</h3>
									<img src="/images/frontend/advncedserch.png">
								</div>
				</div>
			</div>
			
			<div class="col-lg-8 col-md-8 col-sm-8">
				<div class="bdayprtyrt">
					<h4>Birthday Party at oct 21, 2015 03:00 PM </h4>
					<ul>
						<li>
							<label>Date &amp; Time (Start) :</label>
							<span>21 oct 2015 03:00PM</span>
						</li>
						
						<li>
							<label>Date &amp; Time (End) :</label>
							<span>21 oct 2015 03:00PM</span>
						</li>
						
						<li>
							<label>Agreed Amount :</label>
							<span>$195</span>
						</li>
						
						<li>
							<span>
								<input type="radio"> <font>Pay via Credit Card</font>
							</span>
							
							<span>
								<input type="radio"> <font>Pay via Paypal</font>
							</span>
							<img src="/images/frontend/braintree.png">
						</li>
					</ul>
					
					
					<div class="creditcrddet">
						<h5>Credit Card Details</h5>
						
						<ul>
							<li>
								<label>Name on Card :</label> 
								<div class="creditcarddet-rt">
									<input type="text">
								</div>
							</li>
							
							<li>
								<label>Account No. :</label> 
								<div class="creditcarddet-rt">
									<input type="text">
								</div>
							</li>
							
							<li>
								<label>CVV :</label> 
								<div class="creditcarddet-rt">
									<input type="text">
								</div>
							</li>
							
							<li>
								<label>Expiry Date :</label> 
								<div class="creditcarddet-rt">
									<input type="text">
								</div>
							</li>
							
							<li class="sendbtns">
								<label>&nbsp;</label>
								<div class="creditcarddet-rt">
                                                                    <input type="button" onclick="window.location.href='/#/bookings/list'" value="Pay" class="yellow_btn">
									<input type="button" onclick="window.location.href='/#/performer/profile/5653f9fd599a87921361a70c?lnkaction=hire'" value="Cancel" class="blackbtn">
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Ends Featured Section -->