
<!-- Starts Featured Section -->
<div class="featured-section register-all-medium">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="postjobs">
                    <h3>
                        <span>My Bookings</span>
                    </h3>
                    <div class="filterabovetble">
                        <div class="filterabovetble-lt">
                            <label>Filter By Status :</label>
                            <select>
                                <option>Select</option>
                            </select>
                        </div>
                        
                        <div class="filterabovetble-rt">
                            
                            <input type="submit" value="Submit" class="searchblck">
                            <input type="text" placeholder="Search here">
                            <p>Search by Job Title</p>
                        </div>
                    </div>
                    
                    <div class="table-common">
                    <table>
                        <thead>
                            <th> <input type="checkbox"> </th>
                            <th> Job Title</th>
                            <th >Job Date &amp; Time </th>
                            <th >Performer</th>
                            <th >Status</th>
                            <th >Actions</th>
                        </thead>
                        
                        
                        <tbody>
                            <tr>
                                <td class="chkbox-col"> <input type="checkbox"> </td>
                                <td class="jobtitle-col"> Night party at 15 oct 2015 3:00pm</td>
                                <td class="jobdate-col">15 oct 2015 3:00pm </td>
                                <td class="proposals-col">david lee</td>
                                <td class="proposals-col">Not Assigned</td>
                                <td class="actions"><a href="#"> <img src="images/frontend/details-icon.png" width="20"> </a>  <a href="#"> <img src="images/frontend/edit-icon.png" width="20"> </a>  <a href="#"> <img src="images/frontend/delete-icon.png" width="20"> </a></td>
                            </tr>
                            <tr>
                                <td> <input type="checkbox"> </td>
                                <td> Job Title 1</td>
                                <td>15 oct 2015 3:00pm </td>
                                <td>david lee</td>
                                <td>Not Assigned</td>
                                <td class="actions"><a href="#"> <img src="images/frontend/details-icon.png" width="20"> </a>  <a href="#"> <img src="images/frontend/edit-icon.png" width="20"> </a>  <a href="#"> <img src="images/frontend/delete-icon.png" width="20"> </a></td>
                            </tr>
                            <tr>
                                <td> <input type="checkbox"> </td>
                                <td> Job Title 1</td>
                                <td>15 oct 2015 3:00pm </td>
                                <td>david lee</td>
                                <td>Not Assigned</td>
                                <td class="actions"><a href="#"> <img src="images/frontend/details-icon.png" width="20"> </a>  <a href="#"> <img src="images/frontend/edit-icon.png" width="20"> </a>  <a href="#"> <img src="images/frontend/delete-icon.png" width="20"> </a></td>
                            </tr>
                            
                            <tr>
                                <td> <input type="checkbox"> </td>
                                <td> Night party at 15 oct 2015 3:00pm</td>
                                <td>15 oct 2015 3:00pm </td>
                                <td>david lee</td>
                                <td>Not Assigned</td>
                                <td class="actions"><a href="#"> <img src="images/frontend/details-icon.png" width="20"> </a>  <a href="#"> <img src="images/frontend/edit-icon.png" width="20"> </a>  <a href="#"> <img src="images/frontend/delete-icon.png" width="20"> </a></td>
                            </tr>
                            <tr>
                                <td> <input type="checkbox"> </td>
                                <td> Job Title 1</td>
                                <td>15 oct 2015 3:00pm </td>
                                <td>david lee</td>
                                <td>Not Assigned</td>
                                <td class="actions"><a href="#"> <img src="images/frontend/details-icon.png" width="20"> </a>  <a href="#"> <img src="images/frontend/edit-icon.png" width="20"> </a>  <a href="#"> <img src="images/frontend/delete-icon.png" width="20"> </a></td>
                            </tr>
                            <tr>
                                <td> <input type="checkbox"> </td>
                                <td> Job Title 1</td>
                                <td>15 oct 2015 3:00pm </td>
                                <td>david lee</td>
                                <td>Not Assigned</td>
                                <td class="actions"><a href="#"> <img src="images/frontend/details-icon.png" width="20"> </a>  <a href="#"> <img src="images/frontend/edit-icon.png" width="20"> </a>  <a href="#"> <img src="images/frontend/delete-icon.png" width="20"> </a></td>
                            </tr>
                            
                            <tr>
                                <td> <input type="checkbox"> </td>
                                <td> Night party at 15 oct 2015 3:00pm</td>
                                <td>15 oct 2015 3:00pm </td>
                                <td>david lee</td>
                                <td>Not Assigned</td>
                                <td class="actions"><a href="#"> <img src="images/frontend/details-icon.png" width="20"> </a>  <a href="#"> <img src="images/frontend/edit-icon.png" width="20"> </a>  <a href="#"> <img src="images/frontend/delete-icon.png" width="20"> </a></td>
                            </tr>
                            <tr>
                                <td> <input type="checkbox"> </td>
                                <td> Job Title 1</td>
                                <td>15 oct 2015 3:00pm </td>
                                <td>david lee</td>
                                <td>Not Assigned</td>
                                <td class="actions"><a href="#"> <img src="images/frontend/details-icon.png" width="20"> </a>  <a href="#"> <img src="images/frontend/edit-icon.png" width="20"> </a>  <a href="#"> <img src="images/frontend/delete-icon.png" width="20"> </a></td>
                            </tr>
                            <tr>
                                <td> <input type="checkbox"> </td>
                                <td> Job Title 1</td>
                                <td>15 oct 2015 3:00pm </td>
                                <td>david lee</td>
                                <td>Not Assigned</td>
                                <td class="actions"><a href="#"> <img src="images/frontend/details-icon.png" width="20"> </a>  <a href="#"> <img src="images/frontend/edit-icon.png" width="20"> </a>  <a href="#"> <img src="images/frontend/delete-icon.png" width="20"> </a></td>
                            </tr>
                            
                        </tbody>
                        
                    </table>
                    </div>
                    <div class="deleteslcted">
                        <a href="#" class="searchblck">Delete Selected</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Ends Featured Section -->

