<!-- Ticket Start 24 dec-->
<div class="featured-section">
	<div class="container">
    	<div class="row">
        	<div class="col-md-12 text-center">
    			<h3 class="pg-ttl-sprt">Support</h3>
        	</div>
        </div>
        <div class="row">
        	<div class="col-md-6 tckt-list">
            	<h3> Subjects </h3>
                <ul>
                	<li><a href="#/ticket/detail/1">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</a></li>
	                <li><a href="#/ticket/detail/1">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</a></li>
                    <li><a href="#/ticket/detail/1">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</a></li>
                    <li><a href="#/ticket/detail/1">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</a></li>
                    <li><a href="#/ticket/detail/1">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</a></li>
                    
                </ul>
            </div>
            <div class="col-md-6 tk-crt-wrp">
            	
            	<div class="tk-crt-frm">
                	<h4>Create Ticket</h4>
                	<div class="form-group">
                        <label>Subject</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Message</label>
                        <textarea class="form-control"></textarea>
                    </div>
                    <div class="form-action">
                    	<input type="submit" class=" yellow_btn gry-btn" value="Reset" />
                        <input type="submit" class=" yellow_btn" value="Submit" />                    
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
<!-- Ticket end 24 dec-->