<!-- Ticket Start 24 dec-->
<div class="featured-section">
	<div class="container">
    	<div class="row">
        	<div class="col-md-12 text-center">
    			<h3 class="pg-ttl-sprt">Support</h3>
        	</div>
        </div>
        <div class="row">
        	<div class="col-md-6 tckt-dtl-wrp">
            	<h3> Ticket Details </h3>
                <div class="tckt-dtl">
                	
                    	<h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</h4>
                        <p>  Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem </p>
                    
                </div>
                <div class="resp-tct">
                	<h4>Response</h4>
                	<div class="resp-tct-rpt">
                    	<div class="resp-tct-dp">
                        	<img src="images/frontend/performer1.jpg">
                        </div>
                        <div class="resp-tct-dtl">
                        	<h5>Christopher Kramer</h5>
                            <p>Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit </p>
                        </div>
                    </div>
                    <div class="resp-tct-rpt">
                    	<div class="resp-tct-dp">
                        	<img src="images/frontend/girl.jpg">
                        </div>
                        <div class="resp-tct-dtl">
                        	<h5>Gemma Reyan</h5>
                            <p>Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur </p>
                        </div>
                    </div>
                    <div class="resp-tct-rpt">
                    	<div class="resp-tct-dp">
                        	<img src="images/frontend/performer1.jpg">
                        </div>
                        <div class="resp-tct-dtl">
                        	<h5>Christopher Kramer</h5>
                            <p>Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur </p>
                        </div>
                    </div>
                  
                </div>
            </div>
            <div class="col-md-6 tk-crt-wrp">
            	
            	<div class="tk-crt-frm">
                	<h4>Post Comments</h4>
                	<div class="form-group">
                        <label>Message</label>
                        <textarea class="form-control"></textarea>
                    </div>
                    <div class="form-action">
                    	<input type="submit" class=" yellow_btn gry-btn" value="Reset" /><input type="submit" class=" yellow_btn" value="Submit" />                    
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
<!-- Ticket end 24 dec-->