<!-- <form name="forgotPasswordForm" class="form-signin" novalidate>
  <div class="control-group">
   <h3 align="center">Forgot Password</h3>
   <label>Email</label>
   <input type="email" class="form-control" placeholder="email" name="email" ng-model="user.email" required>
    <div ng-show="forgotPasswordForm.email.$dirty" ng-messages="registerForm.email.$error">
      <div ng-message="required">
        Please enter a valid email address
      </div>
      <div ng-message="email">
        That is not a well formed email address.
      </div>
    </div>
  </div>
   <input type="submit" class="btn btn-lg btn-primary btn-block" ng-click="forgotPassword()" value="Send" />
 </form> -->


<div class="featured-section register-all-less">
  <div class="container">
    <div class="register-box">
      <div class="modal-body"> 
        <div class="login-popup-form">
        <uib-alert ng-repeat="alert in alerts"  type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
        <alert class="alert" ng-repeat="error in errors" type="danger">{{error.err}}</alert>
          <form name="forgotPasswordForm" class="form-signin" novalidate>
             <input type="email" placeholder="Email" name="email" ng-model="user.email" required>
                <div ng-show="forgotPasswordForm.email.$dirty || forgotPasswordForm.$submitted" ng-messages="forgotPasswordForm.email.$error">
                  <div class="fieldmsgerror" ng-message="required">
                    Please enter a valid email address
                  </div>
                   <div class="fieldmsgerror" ng-message="email">
                    That is not a well formed email address.
                   </div>
                </div>
                <a class="forg-paswrd" href="#/login">Back to login</a>
            <input type="submit" class="login-submit" ng-disabled="!canMoveForward" ng-click="forgotPasswordForm.$valid  && forgotPassword()" value="Send">
            <span us-spinner="{radius:30, width:8, length: 16, scale:0.50}"></span>
          </form>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <h3 class="register-title">Forgot Password</h3>
    </div>
  </div>
</div>