<!-- Starts Featured Section -->
<div class="featured-section register-all-less">
	<div class="container">
		<div class="register-box">
				<div class="login-popup-form signup-popup-form registerformnew">
						
						<ul>
							<li>
								<div class="imgdiv"><img src="images/frontend/boss.jpg"></div> 
								

                                                                <button ng-click="setSelection('cust')"  class="yellowbtn">I wish to hire a service</button>

							</li>
							
							<li>
								<div class="imgdiv"><img src="images/frontend/individual.jpg"></div>
								
								 <button ng-click="setSelection('per')" class="yellowbtn">I am a individual or manager and wish to list a single service</button>
	
							</li>
							
							<li>
								<div class="imgdiv"><img src="images/frontend/group.jpg"></div> 
								
								 <button ng-click="setSelection('comp')" class="yellowbtn">I am a manager, agent or company wishing to list multiple services</button>
							</li>
						</ul>
						
						<div class="clear"></div>
					</div>
							<h3 class="register-title">Register</h3>

		</div>
	</div>
</div>
<!-- Ends Featured Section -->