<style>.dsc-inputs textarea {background: #fff;border: 1px solid #ccc;height: 70px;padding: 10px;resize: none;width: 100%;margin: 10px 0;}
    .close{ font-size: 28px;margin: -8px 0 0;}
    .nav-tabs{margin-bottom:2%}
    .uploadPortfolio{float: right;margin-bottom: 2%;margin-right: 12px;}
    .portfolio-data img{height:150px; width:262px;}</style>
<div class="featured-section register-all-medium">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#/company/managePayments">Payment Received</a></li>
             <li ><a data-toggle="tab" href="#/company/subscriptionsPayment">Subscription Payment</a></li>
        </ul>
        <div class="payment_received">
            <h3>Payment Received</h3>
        </div>
        <form name="selectDate" ng-controller="DatepickerControllerForSort">
        <div style="float:right" >
            <div class="date_range fix_error">
                <ul class="text_flow1 slct-sh-ps">
                     <li >
                         <span class="estrx-rqd"> <em>*</em></span>
                            <select ng-model="performer.id">
                            <option value="" selected="selected" ng-click="AllPerformer()">Select performer</option>
                            <option value="performerd.id" ng-click="searchByName(performer.id)" ng-repeat="performer in performerData">{{performer.firstName}}</option>
                            </select>
                    </li>
                    <li>Date Range</li>
                    <li >
                             <input name="jobStartDateTime" type="date" class="" uib-datepicker-popup="{{format}}"  is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" readonly="true" ng-model="key.startKey" required/>
                            <span class="">
                               <button type="button" class="btn btn-default" ng-click="open($event)"><i class=" glyphicon glyphicon-calendar"></i></button>
                            </span>
                               <div ng-show="selectDate.jobStartDateTime.$dirty || selectDate.$submitted" ng-messages="selectDate.jobStartDateTime.$error">
                        <div class="fieldmsgerror" ng-message="required" >
                        Please enter start date.
                       </div> 
                      </div>
                     </li>

                     <li>To</li>
            
                         <li >
                             <input name="jobEndDateTime" type="date" class="" uib-datepicker-popup="{{format}}"  is-open="status.opened1" min-date="minDate1" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" readonly="true" ng-model="key.endKey" required />
                            <span class="">
                               <button type="button" class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                         <div  ng-show="selectDate.jobEndDateTime.$dirty || selectDate.$submitted" ng-messages="selectDate.jobEndDateTime.$error">
                        <div class="fieldmsgerror" ng-message="required">
                        Please enter end date.
                       </div> 
                      </div>
                     </li>
                     <li><input type="submit" value="Search" class="searchblck" ng-click="selectDate.$valid && search()">
                    </li>
                    <li><button class="searchblck" ng-click="clearData()">Clear</button>
                    </li>
                </ul>
            </div>
            </div>
                    <div class="table-common">
                    <table>
                        <thead>
                            <!-- <th> <input type="checkbox" ng-model="selectedAll" onclick = "toggle(this)" ng-click= "checkAll()"/> </th> -->
                            <th>Performer </th>
                            <th>Payment Title</th>
                            <th>Payment Date </th>
                            <th>Amount</th>
                            <th>Payment Status</th>
                           
                        </thead>
                        <tbody>
                            <tr ng-repeat="payData in Data">
                                <!-- <td class="chkbox-col"> <input type="checkbox" name="foo1"
                                 ng-model="payData.Selected" ng-true-value='1' ng-false-value='0' > </td> -->
                                <td class="proposals-col"> <a href="">{{payData.performerId.firstName}}</a></td>
                                <td class="proposals-col"> <a href="">{{payData.jobId.jobTitle}}</a></td>
                                <td class="proposals-col">{{payData.createdAt | date:'medium'}}</td>
                                <td class="proposals-col">{{payData.amount | currency}}</td>
                                <td class="proposals-col">{{payData.paymentStatus}}</td>
                                
                            </tr>    
                            <tr ng-show="Data.length <=0" style="text-align:center">
                                <td colspan="7">No record found with selected date</td>
                            </tr>                                   
                        </tbody>
                    </table>
                    </div>
                    <!--  <div ng-if="Data.length > 0" class="deleteslcted">
                        <a href="" class="searchblck" ng-click="deleteMultiplePayment(Data)">Delete Selected</a>
                    </div> -->
                                </form>
                       <div ng-show="Data.length > 0" class="box-footer clearfix">
                         <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage" ng-change="pageChanged()"></uib-pagination>
                        
            </div>
    </div>
</div>

<script>
    function toggle(source) {
  checkboxes = document.getElementsByName('foo1');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    
    checkboxes[i].checked = source.checked;
  }
  }
</script>