<div class="row">            <!--  row nd frst one -->

           <div class="col-md-12">       <!-- col-md-12 -->
             <!-- general form elements disabled -->
             <div class="box box-warning">              <!-- box-warning -->
               <div class="box-header with-border">
                 <h3 class="box-title">General Elements</h3>
               </div><!-- /.box-header -->
               <div class="box-body">
                 <form role="form">
                   <!-- text input -->
                   <div class="form-group">
                     <label>Agreed Budget</label>
                     <input type="text" class="form-control" placeholder="Enter Agreed Budget ..." ng-model="bookingDetails.agreedBudget">
                   </div>
                   <div class="form-group">
                     <label>Performer Requirement Agreed</label>
                     <input type="text" class="form-control" placeholder="Enter the value.." ng-model="bookingDetails.performerRequirmentAgreed">
                   </div>
                   <div class="form-group">
                   <label>Assignment Status</label>
                   <input type="text" class="form-control" placeholder="Enter the status.." ng-model="bookingDetails.assignmentStatus">
                 </div>
                 <div class="form-group">
                 <label>Payment Status</label>
                 <input type="text" class="form-control" placeholder="Enter the payment status.." ng-model="bookingDetails.paymentStatus">
               </div>
                   <div class="box-footer">
                   <button type="submit" class="btn btn-primary" ng-click="update()">Submit</button>
                 </div>
                 </form>
               </div><!-- /.box-body -->
             </div><!-- /.box -->
           </div><!--/.col (right) -->
</div>   <!-- /.row -->
