<div class="row">

            <div class="col-md-12">
              <!-- general form elements disabled -->
              <div class="box box-warning">
                <div class="box-header with-border">
                  <h3 class="box-title">General Elements</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <form role="form">
                    <!-- text input -->
                    <div class="form-group">
                      <label>Name</label>
                      <input type="text" class="form-control" placeholder="Enter Name of the plan.." ng-model="planDetails.name">
                    </div>
                    <div class="form-group">
                      <label>Type</label>
                      <input type="text" class="form-control" placeholder="Enter the type of the plan.." ng-model="planDetails.type">
                    </div>
                    <div class="form-group">
                      <label>Amount</label>
                      <input type="text" class="form-control" placeholder="Enter the amount.." ng-model="planDetails.amount">
                    </div>
                    <div class="form-group">
                      <label>Billing Cycle Days</label>
                      <input type="text" class="form-control" placeholder="Enter the cycle days.." ng-model="planDetails.billingCycleDays">
                    </div>
                    <div class="box-footer">
                    <button type="submit" class="btn btn-primary" ng-click="update()">Submit</button>
                  </div>
                  </form>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!--/.col (right) -->
  </div>   <!-- /.row -->
