<div>
    <div class="modal-header">
        <h3 class="modal-title">Event Detail!</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li>
                Title : {{eventData.title}}
            </li>

            <li>
                Start Date : {{(eventData.allDay == true) ? (eventData.startDate | date:'MM-dd-yyyy') : (eventData.startDate | date:'MM-dd-yyyy h:mm a') }}
            </li>

            <li>
                End Date : {{(eventData.allDay) ? (eventData.modalEndDate | date:'MM-dd-yyyy') : (eventData.modalEndDate | date:'MM-dd-yyyy h:mm a')}}
            </li>

        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="deleteEvent()">Delete</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>