<p>Dear <%=userName%>,</p>
<a href="<%=resetUrl%>">Click To Reset Password</a>
<br/>
<span>OR</span>
<br/>
<p>Copy and paste this code in your browser: <%=resetUrl%></p>
<p><em>Thank you</em> for contacting us we will get back to you soon.</p>
<p>Regard,<br/><%=senderName%></p>