<!DOCTYPE html>
<html ng-app="app">
  <head>
  
    
    <!--STYLES END-->
    <link rel="stylesheet" href="/styles/frontend/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/frontend/style.css">   
    <link rel="stylesheet" href="/styles/frontend/media.css">
    <link rel="stylesheet" href="/styles/frontend/font-awesome.min.css">
  </head>

  <body>
    <%- body %>

   

    <!--TEMPLATES
    <script type="text/javascript" src="/jst.js"></script>
    TEMPLATES END-->



    <!--SCRIPTS-->
    
    <!--SCRIPTS END-->
    <script src="/js/dependencies/frontend/jQuery-v1.11.2.js"></script>
    <script src="/js/dependencies/frontend/angular.js"></script>
    <script src="/js/dependencies/frontend/angular-messages.js"></script>
    <script src="/js/dependencies/frontend/angular-ui-router.js"></script>
    <script src="/js/dependencies/frontend/angular-animate.js"></script>
    <script src="/js/dependencies/frontend/angular-touch.js"></script>
    
    <script src="/js/dependencies/frontend/ui-bootstrap-tpls-0.11.0.js"></script>

    <script src="/js/booking/app.js"></script>
    <script src="/js/booking/routes.js"></script>
    
    <script src="/js/controllers/bookingController.js"></script>
  
  </body>
</html>
