<!-- Starts Featured Section -->
<div class="featured-section">
	<div class="container">
		
		
		<div class="row">
			<div class="col-lg-12 featuredhead">
				<h2>FEATURED </h2>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-4 featuredsctn col-md-4 col-sm-4 col-xs-6">
				<img src="images/frontend/featuredimg1.jpg">
				<h3> <span>Piano performer</span> </h3>
				
				<div class="featuredsctn-hover">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard . Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard ever since the 1500s, when an unknown printer took a galley ever since the 1500s, when an unknown printer took a galley</p>
					
					<a href="#/performer/profile/{{hardcodeprofileid}}" class="view_profile">View profile</a>
				</div>
			</div>
			
			<div class="col-lg-4 featuredsctn col-md-4 col-sm-4 col-xs-6">
				<img src="images/frontend/featuredimg2.jpg">
				<h3> <span>Street Performers</span> </h3>
				
				<div class="featuredsctn-hover">
					<p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard . orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard ever since the 1500s, when an unknown printer took a galley ever since the 1500s, when an unknown printer took a galley</p>
					
					<a href="#/performer/profile/{{hardcodeprofileid}}" class="view_profile">View profile</a>
				</div>
			</div>
                    
                        <div class="col-lg-4 featuredsctn col-md-4 col-sm-4 col-xs-6">
				<img src="images/frontend/featuredimg2.jpg">
				<h3> <span>Street Performers</span> </h3>
				
				<div class="featuredsctn-hover">
					<p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard . orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard ever since the 1500s, when an unknown printer took a galley ever since the 1500s, when an unknown printer took a galley</p>
					
					<a href="#/performer/profile/{{hardcodeprofileid}}" class="view_profile">View profile</a>
				</div>
			</div>
			
		</div>
		
		
		<div class="row">
			<div class="col-lg-3 featuredsctn col-md-4 col-sm-4 col-xs-6">
				<img src="images/frontend/featuredimg3.jpg">
				<h3> <span>Party Oragnizer</span> </h3>
				
				<div class="featuredsctn-hover">
					<p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
					
					<a href="#/performer/profile/{{hardcodeprofileid}}" class="view_profile">View profile</a>
				</div>
			</div>
			
			<div class="col-lg-3 featuredsctn col-md-4 col-sm-4 col-xs-6">
				<img src="images/frontend/featuredimg4.jpg">
				<h3> <span>DJ</span> </h3>
				
				<div class="featuredsctn-hover">
					<p>orem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					
					<a href="#/performer/profile/{{hardcodeprofileid}}" class="view_profile">View profile</a>
				</div>
			</div>
			
			
			<div class="col-lg-3 featuredsctn col-md-4 col-sm-4 col-xs-6">
				<img src="images/frontend/featuredimg5.jpg">
				<h3> <span>Wedding Planer</span> </h3>
				
				<div class="featuredsctn-hover">
					<p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard . orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard ever since the 1500s, when an unknown printer took a galley ever since the 1500s, when an unknown printer took a galley</p>
					
					<a href="#/performer/profile/{{hardcodeprofileid}}" class="view_profile">View profile</a>
				</div>
			</div>
                    
                        <div class="col-lg-3 featuredsctn col-md-4 col-sm-4 col-xs-6">
				<img src="images/frontend/featuredimg5.jpg">
				<h3> <span>Wedding Planer</span> </h3>
				
				<div class="featuredsctn-hover">
					<p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard . orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard ever since the 1500s, when an unknown printer took a galley ever since the 1500s, when an unknown printer took a galley</p>
					
					<a href="#/performer/profile/{{hardcodeprofileid}}" class="view_profile">View profile</a>
				</div>
			</div>
		</div>
		
		<!--div class="row">
			<div class="col-lg-12">
				<a href="#" class="morebtn">More</a>
			</div>
		</div-->
	</div>
</div>
<!-- Ends Featured Section -->


<!-- Starts Party Performed Section -->
<div class="party_performed">
	<div class="container">
		<h2>Party That we performed</h2>
		
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4">
				<div class="partyprfmd">
					<img src="images/frontend/partyperformed_img1.jpg">
					
					<div class="partyprfmd-hover">
						<a href="#/performer/profile/{{hardcodeprofileid}}"> <img src="images/frontend/link.png"> </a>
					</div>
				</div>
				
				<div class="partyprfmd">
					<img src="images/frontend/partyperformed_img2.jpg">
					
					<div class="partyprfmd-hover">
						<a href="#/performer/profile/{{hardcodeprofileid}}"> <img src="images/frontend/link.png"> </a>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-4 col-sm-4">
				<div class="partyprfmd partyprfmdmid">
					<img src="images/frontend/partyperformed_img3.jpg">
					
					<div class="partyprfmd-hover">
						<a href="#/performer/profile/{{hardcodeprofileid}}"> <img src="images/frontend/link.png"> </a>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-4 col-sm-4">
				<div class="partyprfmd">
					<img src="images/frontend/partyperformed_img4.jpg">
					
					<div class="partyprfmd-hover">
						<a href="#/performer/profile/{{hardcodeprofileid}}"> <img src="images/frontend/link.png"> </a>
					</div>
				</div>
				
				<div class="partyprfmd">
					<img src="images/frontend/partyperformed_img5.jpg">
					
					<div class="partyprfmd-hover">
						<a href="#/performer/profile/{{hardcodeprofileid}}"> <img src="images/frontend/link.png"> </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Ends Party Performed Section -->


<!-- Starts Contact Section -->
<!--div class="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="contctus"></div>
			</div>
		</div>
	</div>
</div-->
<!-- Ends Contact Section -->