<div class="featured-section register-all-medium">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8">
				<div class="profilepage-rt">
					<div class="profiletop">
						<div class="row">
							<div class="col-lg-7 col-md-8">
								<div class="profiledp">
								<img src="images/frontend/profile.jpg">
								</div>
								<div class="profiledp-info">
									<h3>Martin Garrix</h3>
									<h4> Profession -DJ <img src="images/frontend/dj.png"> </h4>
									<p class="location">Location</p>
									<p class="memebershp">Membership: since 1yr ago</p>
									<!--p class="bloggg">blog</p-->
									<p class="ratinggg"> <span>Rating</span> <img src="images/frontend/starr.png"> <img src="images/frontend/starr.png"> <img src="images/frontend/starr.png"></p>
								</div>
							</div>
							
							<div class="col-lg-5 col-md-4">
								<!--div class="reviewslink">
										<ul>
											<li> <a href="#"> <img src="images/frontend/calender.png"> <span>Reviews </span></a> </li>
											<li> <a href="#"> <img src="images/frontend/fav.png"> <span>Favourite </span></a> </li>
											<li> <a href="#"> <img src="images/frontend/review.png"> <span>Reviews </span></a> </li>
										</ul>
								</div-->
								
								<div class="hire-chat">
									<a href="#/performer/editProfile">EDIT PROFILE</a>
                                    <img src="/images/frontend/advncedserch.png">
								</div>
							</div>
						</div>
						
		
							<div class="row">
								<div class="col-lg-12">
									<div class="aboutmartin-whole aboutmartin_prof_whole">
										<h3>About Martin</h3>
										<span>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum </span>
										<a href="#">read more..</a>
									</div>
								</div>
							</div>
							
							
							<div class="row">
								<div class="col-lg-12">
									<div class="performerslider">
				<h3>My Uploads</h3>
				
				<div class="suggestedprfrms">

                                            <ul>
                                            <li><a class="group4"  href="/images/frontend/performer1.jpg" title="Me and my grandfather on the Ohoopee."> <img src="/images/frontend/performer1.jpg"></a></li>
                                            <li><a class="group4"  href="/images/frontend/performer2.jpg" title="On the Ohoopee as a child"><img src="/images/frontend/performer2.jpg"></a></li>
                                            <li><a class="group4"  href="/images/frontend/performer3.jpg" title="On the Ohoopee as an adult"><img src="/images/frontend/performer3.jpg"></a></li>
                                            <li><a class='group4 youtube' href="http://www.youtube.com/embed/VOJyrQa_WR4?rel=0&amp;wmode=transparent"  title="On the Ohoopee as an adult"><img src="/images/frontend/performer4.jpg"></a></li>
                                            </ul>

                                </div>
								</div>
								</div>
							</div>
							
							
							
							<div class="row">
								<div class="col-lg-12">
									<div class="recentlyorgactivity-whole reviewsall-whole">
										<h3><b>My Reviews</b>  <span>Received  <font>99</font></span>  <span>Rating  <img src="images/frontend/starr.png">  <img src="images/frontend/starr.png">  <img src="images/frontend/starr.png">  <img src="images/frontend/starr.png"></span></h3>
										<div class="prtcular-item">
											<div class="prtcular-item-img">
												<img src="images/frontend/girl.jpg">
											</div>
											
											<div class="prtcular-item-rt">
													<h4>Lorem ipsum dolor</h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
											</div>
										</div>
										
										<div class="prtcular-item">
											<div class="prtcular-item-img">
												<img src="images/frontend/girl.jpg">
											</div>
											
											<div class="prtcular-item-rt">
													<h4>Lorem ipsum dolor</h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
											</div>
										</div>
										
										<div class="prtcular-item">
											<div class="prtcular-item-img">
												<img src="images/frontend/girl.jpg">
											</div>
											
											<div class="prtcular-item-rt">
													<h4>Lorem ipsum dolor</h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
											</div>
										</div>
										
										<div class="prtcular-item">
											<div class="prtcular-item-img">
												<img src="images/frontend/girl.jpg">
											</div>
											
											<div class="prtcular-item-rt">
													<h4>Lorem ipsum dolor</h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
											</div>
										</div>
										
										<div class="prtcular-item">
											<div class="prtcular-item-img">
												<img src="images/frontend/girl.jpg">
											</div>
											
											<div class="prtcular-item-rt">
													<h4>Lorem ipsum dolor</h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
											</div>
										</div>
										
										<div class="prtcular-item">
											<div class="prtcular-item-img">
												<img src="images/frontend/girl.jpg">
											</div>
											
											<div class="prtcular-item-rt">
													<h4>Lorem ipsum dolor</h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
											</div>
										</div>
										
										
										<!--a href="#" class="laodmorelink">Load more</a-->
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
			
			
			<div class="col-lg-4 col-md-4 col-sm-4 prfilepg">
                            
                            
				
                          
			</div>
		</div>
	</div>
</div>
<!-- Ends Featured Section -->