<p>Dear <%=recipientName%>,</p>
<a href="<%=emailUrl%>">Click To Email verification</a>
<br/>
<span>OR</span>
<br/>
<p>Copy and paste this code in your browser: <%=emailUrl%></p>
<p><em>Thank you</em> </p>
<p>Regard,<br/><%=senderName%></p>