<!-- Starts Footer  -->
<footer>
	<div class="container">
		<div class="col-lg-12">
			<div class="footer-content">
				<h3>Stay Connected</h3>
				<ul>
					<li>
						<a href="#"> <img src="images/frontend/fb-footer.png"> </a>
					</li>
					
					<li>
						<a href="#"> <img src="images/frontend/twitter-footer.png"> </a>
					</li>
					
					<li>
						<a href="#"> <img src="images/frontend/googleplus-footer.png"> </a>
					</li>
					
					<li>
						<a href="#"> <img src="images/frontend/linkedin-footer.png"> </a>
					</li>
				</ul>
				
				<p>Copyright © 1995-2015 ejizzy. All Rights Reserved. User Agreement, Privacy and Cookies.</p>
			</div>
		</div>
	</div>
</footer>
<!-- Ends Footer  -->