<form name="forgotPasswordForm" class="form-signin" novalidate>
  <div class="control-group">
   <h3 align="center">Forgot Password</h3>
   <label>Email</label>
   <input type="email" class="form-control" placeholder="email" name="email" ng-model="user.email" required>
    <div ng-show="forgotPasswordForm.email.$dirty" ng-messages="registerForm.email.$error">
      <div ng-message="required">
        Please enter a valid email address
      </div>
      <div ng-message="email">
        That is not a well formed email address.
      </div>
    </div>
  </div>
   <input type="submit" class="btn btn-lg btn-primary btn-block" ng-click="forgotPassword()" value="Send" />
 </form>