 <form name="resetPasswordForm" class="form-signin" novalidate>
 <h3 align="center">Reset Password</h3>
<div class="control-group" >
      <input type="password" class="form-control" placeholder="password" name="password" ng-model="user.password" required>
      <div ng-show="resetPasswordForm.password.$dirty" ng-messages="resetPasswordForm.password.$error">
        <div ng-message="required">
         Please provide a password
        </div>
      </div>
    </div>

    <div class="control-group"  >
      <input type="password" class="form-control" placeholder="confirm password" name="confirmpassword" ng-model="user.confirmPassword" required>
      <div ng-show="resetPasswordForm.confirmpassword.$dirty" ng-messages="resetPasswordForm.confirmpassword.$error">
        <div ng-message="required">
          You forgot the password confirmation.
        </div>
      </div>
    </div>
     <input type="submit" class="btn btn-lg btn-primary btn-block" ng-click="resetPassword()" value="Reset" />
    </form>